.links_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    user-select: none;
}

.links_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1040px;
    min-width: 600px;
    width: 100%;
    padding: auto 40px;
    margin-top: calc(80px * 1);
    margin-bottom: 16rem;
    position: relative;
}

.links_title {
    font-family: var(--font-family-main);
    font-size: var(--font-size-page-title);
    font-weight: var(--font-weight-bold);
    color: var(--color-accent-title);
    text-align: center;
    margin-bottom: 2rem;
    opacity: 1;
    animation: titleFadeIn 0.6s ease backwards;
    transition: transform 0.3s ease-in-out;
}

@keyframes titleFadeIn {
    0% {
        opacity: 0;
        filter: blur(4px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        filter: blur(0px);
        transform: translateY(0);
    }
}

.links_title:hover {
    cursor: pointer;
    transform: scale(1.1) rotate(-5deg);
}

.links_card_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 300px;
}

.links_card_container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 6px;
}

@media (max-width: 1024px) {
    .links_wrapper {
        padding: 0 20px;
        /* 减少左右内边距 */
    }

    .links_container {
        max-width: 90%;
        min-width: auto;
    }

    .links_card_container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .links_bg_top {
        position: absolute;
        top: 40px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .links_bg_bottom {
        display: none;
    }

    .links_card_container {
        grid-template-columns: repeat(1, 1fr);
    }
}

.links_tip {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-normal);
    color: var(--color-text-secondary);
    text-align: center;
    margin-top: 1rem;
    opacity: 0;
    animation: tipsFadeIn 0.6s ease forwards;
}

.links_tip a {
    color: var(--color-accent-title);
    text-decoration: none;
}

@keyframes tipsFadeIn {
    0% {
        opacity: 0;
        filter: blur(6px);
        transform: translateY(20px);
    }

    100% {
        opacity: 0.8;
        filter: blur(0px);
        transform: translateY(0);
    }
}
